<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
      <title>Sensors monitor</title>
      <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <% if (name === 'index') { %>

    <h1>Sensor Monitoring</h1>
    <div id="controls"></div>
    <div id="wrapper">

      <div class="inner-wrapper">
        <h1>Raw Sensors</h1>

        <h2>x acc / pitch</h2>
        <canvas id="raw-x-display"></canvas>

        <h2>y axis / roll</h2>
        <canvas id="raw-y-display"></canvas>

        <h2>z axis / yaw</h2>
        <canvas id="raw-z-display"></canvas>
      </div>

      <div class="inner-wrapper">
        <h1>Resampled Sensors (50Hz)</h1>

        <h2>x acc / pitch</h2>
        <canvas id="resampled-x-display"></canvas>

        <h2>y axis / roll</h2>
        <canvas id="resampled-y-display"></canvas>

        <h2>z axis / yaw</h2>
        <canvas id="resampled-z-display"></canvas>
      </div>

      <div class="inner-wrapper">
        <h1>Resampled Sensors</h1>

        <h2>x axis</h2>
        <canvas id="filtered-x-display"></canvas>

        <h2>y axis</h2>
        <canvas id="filtered-y-display"></canvas>

        <h2>z axis</h2>
        <canvas id="filtered-z-display"></canvas>
      </div>


    </div>

    <!-- <p>
- <span class="steelblue">blue</span>: filter out
- <span class="green">green</span>: raw acceleremeter
- <span class="orange">orange</span>: raw gyroscope
    </p> -->
    <% } else if (name === 'mobile') { %>
      <h1>Sensor Client</h1>
    <% } %>

    <script src="./<%= name %>-bundle.js"></script>
  </body>
</html>
